In [10]:
import matplotlib.pyplot as plt

from series2graph import *

In [11]:
import pandas as pd

df = pd.read_csv("../DATA/33762.csv",usecols=[4])
df

      11.875227
0     13.390115
1     15.556544
2     16.491806
3     12.325680
4     16.224644
...         ...
2778  11.862926
2779  16.690619
2780  15.144634
2781  13.219770
2782  17.039476

[2783 rows x 1 columns]

In [12]:
pattern_length = 75
query_length = 100

In [1]:
s2g = Series2Graph(pattern_length=pattern_length)
s2g.fit(df)

NameError: name 'Series2Graph' is not defined